<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Hello React</title>
    </head>
    <body>
        <div class="container" id="container"><%- markup -%></div>
        <script src="assets/bundles/main-bundle.js"></script>
    </body>
</html>
